<?xml version="1.0"?>
<launch>
    
    <!-- define arguments -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false" />
    <arg name="verbose" default="true" />

    <arg name="robot_x" default="0" />
    <arg name="robot_y" default="0" />
    <arg name="robot_z" default="0.01" />

    <!-- startup simulated WORLD -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robotic_arm_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" value="$(arg verbose)" />
    </include>


    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find robotic_arm_description)/urdf/robotic_arm_simulator.xacro' " />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner_robotic_arm" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model robotic_arm -param robot_description -x  $(arg robot_x) -y $(arg robot_y) -z $(arg robot_z) -R -0.0 -P -0.0 -Y -0.0"/>
<!--
    <include file="$(find robotic_arm_control)/launch/robotic_arm_control.launch" >
    </include>
-->
    <node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args = "0 0 0 0 0 0 world base_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args = "0 0 0 0 0 0 world map 10" />

</launch>
