<?xml version="1.0"  encoding="utf-8" ?>
<robot name="robotic_arm" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>

    <gazebo reference="base_link">
        <static>true</static>
    </gazebo>

    <gazebo reference="world_base_joint">
        <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="forearm_1_2_joint">
        <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="arm_1_2_joint">
        <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

</robot>